
footer {
    position: fixed;
    right: 0;
    left: 0;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #bde2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* transition: all 1s ease-in-out; */
}
footer.shrunk {
  left: auto; 
  right: 0; 
  width: 218px; /* Adjust this value to the width of the #right-corner button */
  transition: width 1s ease-in-out, left 0.1s ease-in-out;
}

footer.shrunk .menu-button {
  display: none; /* Hide menu buttons when shrunk */
}
.menu-button {
  margin: 10px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
}

.menu-button:hover {
  background-color: #ddd;
}

.menu-button::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-button:nth-child(odd)::before {
  background-image: url('../img/black-dollar.png');
}

.menu-button:nth-child(even)::before {
  background-image: url('../img/green.png');
}

.corner-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#left-corner {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../img/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  left: 20px;
  caret-color: transparent;
}
.left-logo{
  background-image: url('../img/it.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  transition: transform 1s ease-in-out;
  caret-color: transparent;
}

#left-corner.flip{
  transform: scaleX(-1);
}
#right-corner {
    background-image: url('../img/circle-number.png');
    height: 100px;
    width: 100px;
    position: absolute;
    right: 39px;
    top: -34px;
}

@media (max-width: 768px) {
  .menu-button {
    display: none;
  }
  footer {
    left: auto;
    right: 0;
    width: 218px;
  }
  footer.shrunk .menu-button {
    display: block;
  }
  .menus{
    margin-top: -270%;
  }
}
